<div id="<%= dom_id employee %>" style="margin-top: 100px; margin-left: 140px; text-align: left; float: left; font-size: 24px; padding: 20px; border-radius: 10px;  background-color: #f9f9f9; color: #333; width: 1000px">
  <h2 style="font-size: 32px; margin-bottom: 20px; color: black;">Employee Details</h2>
  
  <p><strong>First Name:</strong> <%= employee.first_name %></p>
  <p><strong>Last Name:</strong> <%= employee.last_name %></p>
  <p><strong>Email:</strong> <%= employee.email %></p>
  <p><strong>Designation:</strong> <%= employee.designation %></p>
  <p><strong>Department:</strong> <%= employee.department.name %></p>
</div>
